:root {
    --primary-color: #313338;
    --secondary-color: #242629;
    --border-color: #575c65;
    --text-color: #f5f5f5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: var(--primary-color);
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.redirectButton {
    border-width: 2px;
    border-color: var(--border-color);
    border-style: solid;
    border-radius: 0.5rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    padding-left: 1.7rem;
    padding-right: 1.7rem;
    background-color: var(--secondary-color);
    color: white;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
}

.redirectButton:hover {
    opacity: 0.75;
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
}

.icon {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}