<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Merry Christmas</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">
    <meta name="description" content="Merry Christmas ซานต้าโชคมาแจกของขวัญแล้ว เขียนคำขอได้เลย 🎄">
    <script src="{{ url_for('static',filename='scripts/index.js') }}" defer></script>
</head>
<body>
    <div class="container">
        <div class="hero">
            <div class="christmas-tree">🎄</div>
            <h1>gce Christmas Wonderland</h1>
            <p class="subtitle">ร่วมเฉลิมฉลองความมหัศจรรย์และความสุขแห่งฤดูกาลไปกับเราและแซนต้าโชค!</p>
            <a href="/wishlists" class="wishlist-button">ค้นพบรายการความปรารถนา</a>
        </div>
        <div class="form-container">
            <form id="wishForm">
                <label for="name">ชื่อของคุณ</label>
                <input type="text" id="name" name="name" required placeholder="กรอกชื่อของคุณแล้วแซนต้าโชคจะจำได้">
                <label for="wish">คำขอวันคริสต์มาสของคุณ</label>
                <textarea id="wish" name="wish" rows="4" required placeholder="แบ่งปันคำขอขอบคุณกับแซนต้าโชค..."></textarea>
                <button type="submit">ส่งคำขอไปยังแซนต้าโชค ☁️</button>
            </form>
        </div>
    </div>
</body>
</html>
