<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Christmas Wishlists</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/wishlists.css') }}">
    <script src="{{ url_for('static',filename='scripts/wishlists.js') }}" defer></script>
</head>
<body>
    <div class="container">
        <div>
            <a href="/" class="back-button">Go Back</a>
            <h1>Christmas Wishlists</h1>
        </div>
        <ul>
            {% for wishlist in wishlists %}
                <li>
                    <h2>{{ wishlist.name }}</h2>
                    <p>{{ wishlist.wishlist }}</p>
                    <small>{{ wishlist.timestamp }}</small>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>